body {
	background-color: #fff;
}

.form {
	background-color: #fff;
}

.form-group {
	margin-left: 8.3%;
	margin-right: 8.3%;
	display: inline-block;
}

#exampleFormControlInput2 {
	position: relative;
	bottom: 61.7px;
	left: 350px;
}

#exampleFormControlInput4 {
	position: relative;
	bottom: 61.7px;
	left: 350px;
}